<article class="component component-week">
    <header class="week-header week-header-left">
        <a href="javascript:void(0);" class="week-header_go week-header_goprev">&blacktriangleleft;</a>
        <h1 class="week-header_dates"></h1>
        <h2 class="week-header_month"></h2>
    </header>
    <header class="week-header week-header-right">
        <h2 class="week-header_month"></h2>
        <h1 class="week-header_dates"></h1>
        <a href="javascript:void(0);" class="week-header_go week-header_gonext">&blacktriangleright;</a>
    </header>
    <div class="week-days">        
    </div>
</article>