<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Agenda demo project using Web Components">
  <meta name="keywords" content="HTML, HTML5, CSS, CSS3, XML, XHTML, JavaScript, EcmaScript, EcmaScript6, Rafał, Lorenz, WebRTC, real, time, communication">
  <meta name="author" content="jordisan">
  <meta name="copyright" content="jordisan" />
  <title>Agenda (Web Components demo)</title>
  <link rel="shortcut icon" href="/images/favicon.ico">

  <% for (var css in htmlWebpackPlugin.files.chunks['application'].css) { %>
    <link href="<%= htmlWebpackPlugin.files.chunks['application'].css[css] %>" rel="stylesheet">
  <% } %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.0.2/webcomponents-bundle.js"></script>
</head>

<body>
  <diary-week tasksbyday="4"></diary-week>

  <script src="<%= htmlWebpackPlugin.files.chunks['vendor'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks['application'].entry %>"></script>

  <footer>
    <p><a href="https://github.com/jordisan/Web-Components-Agenda" target="_blank">Web Components Agenda at GitHub</a></p>
  </footer>
</body>

</html>
