<article class="component component-day">
    <table class="day-table day-left">
        <tbody class="day">
                <tr class="day-header">
                    <th class="date">Day</th>
                    <th class="time">Time</th>
                    <th class="desc">Description</th>
                </tr>
                <tr class="task-row">
                    <td class="date">
                        <span class="date-weekday"></span>
                        <span class="date-day"></span>
                        <span class="date-name"></span>
                    </td>
                    <td class="time">&nbsp;</td>
                    <td class="desc">&nbsp;</td>
                </tr>
        </tbody>        
    </table>
    <table class="day-table day-right">
        <tbody class="day">
                <tr class="day-header">
                    <th class="task">Task</th>
                    <th class="done">Done</th>
                </tr>
                <tr class="task-row">
                    <td class="task">&nbsp;</td>
                    <td class="done"><input type="checkbox" /></td>
                </tr>
        </tbody>        
    </table>
</article>